.nav {
    grid-area: n;
    background-color: chocolate;
    padding: 20px;
 }
.item a{
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color:rgb(0, 0, 0);
}
/* //Делаем стилизацию, и что бы было 3 картинки в ряд */
.photo {
  width: 30%;
  border: 2px solid rgb(0, 0, 0, .5);
  border-radius: 15%;
  overflow: hidden;
}
/* //опускаем фотку на -5 пикселей */
.photo img{
  transform: translateY(5px);
} 
/* //что бы картинки были в ряд и немного стилизируем её */
.photoIconElements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 15px;

  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, .2);
  background-color: white;
}
